*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root{
    --dark-primary:#1b1f24;
    --primary:#12bdff;
}
header{
    background-color: #1b1f24;
    padding: 20px;
   color:white;
  
    align-items: center;
    display: flex;
    justify-content:space-evenly;
}
ul{
    display: flex;
    color:#fff;
    list-style: none;
}
header ul li{
    margin-right:20px;

}
header ul li a{
    color:#fff;
    text-decoration: none;
}
header ul li a:hover{
    color:var(--primary);
    font-size: 24px;
}
header button{
    padding:10px 20px;
    font-weight: bold;
    background-color: var(--dark-primary);
    border:1px solid var(--primary);
    color:var(--primary);
    border-radius: 5px;

}
.hero-button button{
    margin-right:10px;
}
.btn.btn-dark-outlined{
background-color: var(--dark-primary);
border:1px solid var(--primary);
color:var(--primary);
border-radius:5px;
font-weight: 600;
}
span{
    color:var(--primary);
}
header button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color:#fff;
}
header .logo{
    font-weight: 600;
    color:blue;
}
section.hero-section{
    background-color: var(--dark-primary);
    color:#fff;
    display:flex;
    align-items: center;
    padding: 20px 40px 0 240px;
}
.hero-section__title{
        font-size: 48px;
        font-weight:900;
}
.hero-section__desc{
    color:azure;
}
.social-icons li{
   margin-right: 20px;
}
.btn{
    padding:10px ;
    border-radius: 2px;
    cursor: pointer;
    border:none;
}
.btn.btn-primary{
    background-color: var(--primary);
    font-weight:500;
    color:white;
}
.btn.btn-dark-outlined:hover,
.btn.btn-primary:hover{
    background-color: #0072b1;
}
